<section>
	<form action="/search" method="get">
  <input type="text" name="q" value="{{ search.terms | escape }}" placeholder="Search" id="search-input">
  <button type="submit">Search</button>
</form>

<ul class="search-results">
  {% for item in search.results %}
    <li>
      <a href="{{ item.url }}">
        {{ item.title | escape }}
      </a>
    </li>
  {% endfor %}
</ul>
</section>

<style>
	/* Initially hide the search results */
.search-results {
  display: none;
}

/* Display search results when the input field is focused */
#search-input:focus + .search-results {
  display: block;
}

</style>


<script>
	document.getElementById('search-input').addEventListener('blur', function() {
  // Hide search results when the input field loses focus
  document.querySelector('.search-results').style.display = 'none';
});

</script>